{% extends "base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ auction.title }}</h4>
        </div>
        <div class="panel-body">
            <p>{{ auction.description }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Price: $ {{ auction.price }} </li>
        </ul>
    </div>

    <a class="btn btn-default" href="{{ url('auction_index') }}">Back to main page</a>
{% endblock %}
