/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/workspace.xml
.idea/vcs.xml
.idea/symfony3-auction-app.iml
.idea/symfony2.xml
.idea/php.xml
.idea/modules.xml
.idea/codeStyles/codeStyleConfig.xml
