<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{{ url('auction_index') }}">Auction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('my_auction_index') }}">My auctions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('my_auction_add') }}">Add auction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('fos_user_security_logout') }}">Log out</a>
    </li>
</ul>
