<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{{ url('auction_index') }}">Auction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('fos_user_security_login') }}">Log in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('fos_user_registration_register') }}">Register</a>
    </li>
</ul>
